<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="shortcut icon" href="/logo">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex, nofollow, noodp, noydir">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <title>Merci ! - L'oustalet Wifi</title>
  <script src="static/js/TranslateSuccess.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <section>
    <div class='pricing pricing-palden'>
      <div class='selectlangue'>
        <a href="#" onclick="ChangeLanguage('English')" class="action-button shadow animate blue"><img src="static/image/English-flag.png" class="licon"></a>
        <a href="#" onclick="ChangeLanguage('French')" class="action-button shadow animate yellow"><img src="static/image/french-flag.png" class="licon"></a>
        <a href="#" onclick="ChangeLanguage('Spanish')" class="action-button shadow animate red"><img src="static/image/spain-flag.png" class="licon"></a>
      </div>
    </div>
    <div class='pricing pricing-palden'>
      <div class='pricing-item'>
        <div class='pricing-deco backgreen'>
          <svg class='pricing-deco-img'  enable-background='new 0 0 300 50' height='50px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 50' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
            <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
            <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
          </svg>
          <div id="Merci" class='pricing-price'>Merci !</div>
        </div>
        <ul class='pricing-feature-list' style="color: #5b5b5b;" >
          <li id="ID" class='pricing-feature big '>ID : <span id="VoucherID" class='bold' >{{VoucherID}}</span></li>
          <li id="MotDePasse" class='pricing-feature big'>Mot de passe : <span class='bold'>{{VoucherPassword}}</span></li>
          <li id="Info" class='pricing-feature hidden'>{{info}}</li>
          <li id="Info2" class='pricing-feature hidden'>{{info2}}</li>
          <li id="Info3" class='pricing-feature hidden'>{{info3}}</li>
        </ul>
        <a href="http://192.168.3.1:8000" id="Go" class='pricing-action backgreen'>Go !</a>
      </div>
    </div>
  </section>
</body>
<script type="text/javascript">
//This talk for itself
if (document.getElementById("VoucherID").textContent === "DELETED"){
  document.getElementById("Merci").textContent = "🤔";
}
//This is to remove Info if its empty so there is no empty space on the page
if (document.getElementById("Info").textContent != ""){
  document.getElementById("Info").classList.remove("hidden");
}
if (document.getElementById("Info2").textContent != ""){
  document.getElementById("Info2").classList.remove("hidden");
}
if (document.getElementById("Info3").textContent != ""){
  document.getElementById("Info3").classList.remove("hidden");
}
</script>
</html>
